#create{display: flex;
width:100%;
justify-content: space-between;
align-items: center;
}
.create-img{
    width: 740px;
    height: 559px;
    gap: 0px;
    border-radius: 24px;
    opacity: 0px;
    position: relative;
}
#create-img-1{width: 410px;
    position: absolute;
    height: 400px;
bottom: 0;
    left: 0;
    gap: 0px;
    border-radius: 24px;
    opacity: 0px;
}
#create-img-2{position: absolute;
    width: 410px;
    height: 475px;
    top: 0;
   right: 0;
    gap: 0px;
    border-radius: 24px;
    opacity: 0px;    
}.create text{width:426px;
    gap: 40px;
    opacity: 0px;
}
#subscribe{border:1px solid red ;
    display: grid;
    width:100%;
    justify-content: space-between;
    align-items: center;
grid-template-columns: 50% 50%;
padding: 92px 111px ;

}.subscribe-img{width: 630px;
    height: 458px;
    gap: 0px;
    opacity: 0px;
position: relative;
}#subscribe-img-1{width: 410px;
    transform: rotate(12deg);
    position: absolute;
    height: 376px;
bottom: 0;
    left: 0;
    gap: 0px;
    border-radius: 24px;
    opacity: 0px;
}
#subscribe-img-2{ position: absolute;
    width: 282px;
    height: 348px;
    top: 0;
   right: 0;
    gap: 0px;
    border-radius: 16px;
opacity: 0px;    }
.subscribe-text{width: 100%;
    height: 288px;
    gap: 40px;
    opacity: 0px;
    margin-top: -134px;


}.subscribe-text input{width: 100%;
    z-index: -1;
height: 60px;
border-radius: 8px;
padding:    16px 24px  ;
background: #131E3A;


}
.sektion{min-height: 100dvh;



}
#input-btn{position: absolute;
right: 0;
top: 0;
height: 60px;
z-index: 5;

}.subscribe-content-buttons{position: relative;
    height: 60px;


}